DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nominas_db
PUBLIC_PORT=8000

DOLAR_API_URL=https://rates.dolarvzla.com/bcv/current.json
SECRET_KEY=tu_clave_secreta_aqui

# Opcional — para consultar tasa USDT
# USDT_API_URL=
# DOLARVZLA_API_KEY=