
DB_USERNAME = root
DB_PASSWORD = 123456
DB_HOST = localhost
#cambiar por puerto de la db
DB_PORT = 3306
#cambiar por nombre de la db
DB_NAME = nominasColegio
PUBLIC_PORT = 4000


DOLAR_API_URL = https://rates.dolarvzla.com/bcv/current.json
SECRET_KEY = blablablallavesecreta